
*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.principal{
    
        height: 720px;
        position: relative;
   
     
    }
    
    .barra2{
    background-color: aqua;
       height: 100%;
       width: 100%;
    position: absolute;
   
    background-image: url(../img/el\ tunco4.jpg);
  
 background-position-y: center;
   background-size: cover;
    }
    
    .top2{
    
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .top2 img{
    
        width: 30px;
        height: 40px;
        margin: 0 5px;
    }
    
    .GranTitulo2{
    
        
    
        height: 600px;
        display: flex;
        flex-direction: column;
    
        align-items: center;
       
    }
    
    .LoMejor{
        text-align: center;
        font-family: 'Bebas Neue', cursive;
        font-weight: 500;
            color: white;
            font-size: 120px;
            padding-top: 30px;
        }
    
        .GranTitulo2 p{
    
            text-align: center;
            color: white;
            font-family: 'Montserrat', sans-serif;
            font-weight: 500;
            font-size: 18px;
        }
    
        .GranTitulo2 a{
    
            background-color: white;
    
            padding: 10px 30px;
            font-family: 'Montserrat', sans-serif;
            color: black;
            font-weight: 700;
            text-decoration: none;
    
            border-top-left-radius : 10px ;
    border-top-right-radius : 10px;
    border-bottom-right-radius : 10px;
    border-bottom-left-radius : 10px;
        }

        .historia{


height: 550px;
display: flex;
flex-direction: row;


        }

        .historia1{


            
            height: 550px;
            width: 50%;
        
          
        }

        .historia1 h1{

            padding-top: 50px;
            padding-left: 100px;
            
            font-family: 'Montserrat', sans-serif;
            
        }
        
        .historia1 p{

            text-align: justify;
            font-family: 'Montserrat', sans-serif;
            font-size: 20px;
            padding-left: 100px;
            padding-right: 80px;
           
         
        }
        .mapa{

            height: 550px;
            width: 50%;
        }
    
        .mapa h1{

            padding-top: 30px;
            padding-left: 20px;
            
            font-family: 'Montserrat', sans-serif;
            
        }

        .mapa1{

           
            height: 410px;

        margin: 0 70px;

        border-top-left-radius : 50px ;
border-top-right-radius : 50px;
border-bottom-right-radius : 50px;
border-bottom-left-radius : 50px;

        }

        .mapa1 iframe{

            height: 410px;
          width: 100%;
          margin-top: 15px;
        border-top-left-radius : 50px ;
        border-top-right-radius : 50px;
        border-bottom-right-radius : 50px;
        border-bottom-left-radius : 50px;
        }

        .parecidos{

          
            height: 400px;
        }

        .parecidos h1{

            padding-top: 30px;
            padding-left: 100px;
            font-size: 32px;
            
            font-family: 'Montserrat', sans-serif;
            
        }

        .similar{

           
            height: 300px;
           margin: 0 120px;
           margin-top: 20px;

           display: flex;
        }

        .pla1{

            background-image: url(../img/san\ diego.png);
            background-size: cover;
            height: 250px;
            width: 350px;

            border-top-left-radius : 30px ;
            border-top-right-radius : 30px;
            border-bottom-right-radius : 30px;
            border-bottom-left-radius : 30px;
        }

        .pla2{

            background-image: url(../img/taquillo.jpg);
            background-size: cover;

            height: 250px;
            width: 350px;

            border-top-left-radius : 30px ;
            border-top-right-radius : 30px;
            border-bottom-right-radius : 30px;
            border-bottom-left-radius : 30px;
        }

        .letras{

          
            height: 250px;
            width: 450px;
           margin-left: 30px;

           display: flex;
           flex-direction: column;
           justify-content: center;
        }

        .sepa{

            width: 55%;
display: flex;
        }

        .sepa2{
            width: 45%;
            display: flex;
            
        }

        .letras p{
            font-family: 'Montserrat', sans-serif;
            font-size: 14px;
            font-weight: 500;

        }

        .letras h3{
            font-family: 'Montserrat', sans-serif;

        }

        .letras2{

            
            height: 250px;
            width: 450px;
           margin-left: 30px;

           display: flex;
           flex-direction: column;
           justify-content: center;
        }

        .letras2 p{
            font-family: 'Montserrat', sans-serif;
            font-size: 14px;
            font-weight: 500;

        }

        .letras2 h3{
            font-family: 'Montserrat', sans-serif;

        }


        .PieFinal{

            background-color: #248D72;
            height: 100px;
            display: grid;
            grid-template-columns: 65% 35% ;
            
            
            
            
            
            }
            
            .SubPie{
            
            height: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding-left: 50px;
            
            }
            
            .SubPie img{
                width: 30px;
                height: 40px;
                margin: 0 5px;
            
            }
            
            .SubPie2{
            
            height: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding-left: 20px;
            grid-gap: 50px;
            }
            
            .SubPie2 p{
            
                text-align: center;
                color: white;
                font-family: 'Montserrat', sans-serif;
                font-weight: 500;
                font-size: 18px;
            
               
            }
            
            .SubPie2 img{
                width: 30px;
                height: 30px;
            
            }

            .SubPie{

                font-family: 'Montserrat', sans-serif;
                color: white;
            }

            .top2 h2{
                font-family: 'Montserrat', sans-serif;
                color: white;

            }
.barra2 h1{

    font-family: 'Montserrat', sans-serif;
    color: white;
    font-weight: 700;
    margin-top: 520px;
    margin-left: 100px;
   
}

.SubPie2 img:hover{

    transform: scale(1.25);
}
            

.hotelespp {

    background-color: #E4E4E4;
    height: 800px;
}

.hotelespp h4 {

    text-align: center;
    padding-top: 50px;
    font-family: 'Bebas Neue', cursive;
    font-weight: 1;

    font-size: 22px;
}

.hotelespp h1 {

    text-align: center;
    font-family: 'Bebas Neue', cursive;
    font-weight: 400;
    font-size: 50px;

}


.secHoteles {


height: 600px;
margin-top: 30px;

}

.Hoteles {


    height: 350px;
    margin: 0 100px;
    margin-top: 15px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;


}

.foto1-1-1 {

    height: 500px;


    background-image: url(../img/casa-1800-suchitoto.jpg);
    background-size: cover;
    background-position: center;

    position: relative;
}

.foto1-1-1hover {

    display: none;

    background-color: rgba(36, 141, 114, 0.4);
    height: 500px;






}

.foto1-1-1hover h1 {

    color: white;
    font-size: 44px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding-top: 280px;
    animation-duration: 0.5s;


}


.foto1-1-1:hover .foto1-1-1hover {

    display: block;

}



.seccion1 a {

    text-decoration: none;
}

.foto2-2-2 {

    height: 500px;
    background-image: url(../img/almendras\ san\ lorenzo.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}

.foto2-2-2hover {

    display: none;

    background-color: rgba(107, 133, 190, 0.4);
    height: 500px;




}

.foto2-2-2hover h1 {

    color: white;
    font-size: 44px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding-top: 280px;
    animation-duration: 0.5s;
}


.foto2-2-2:hover .foto2-2-2hover {

    display: block;
}


.foto3-3-3 {

    height: 500px;
    background-image: url(../img/santa-lucia-casa-hotel.jpg);
    background-size: cover;
    background-position: right;
    position: relative;
}

.foto3-3-3hover {

    display: none;

    background-color: rgba(241, 157, 52, 0.4);
    height: 500px;





}

.foto3-3-3hover h1 {

    color: white;
    font-size: 44px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding-top: 280px;
    animation-duration: 0.5s;
}


.foto3-3-3:hover .foto3-3-3hover {

    display: block;
}

.minicaja {

    background-color: white;
    height: 60px;
    width: 80%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

    bottom: -40px;
    margin: 0 40px;
}

.minicaja h2 {

    color: #248D72;
}


.disfruta {

    height: 900px;

}

.disfruta h4 {

    text-align: center;
    font-family: 'Bebas Neue', cursive;
    font-weight: 1;

    font-size: 22px;
}

.disfruta h1 {

    text-align: center;
    font-family: 'Bebas Neue', cursive;
    font-weight: 400;
    font-size: 50px;

}

.lugares2 {


    height: 350px;
    margin: 0 100px;
    margin-top: 15px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;


}

.foto1-1 {

    height: 650px;


    background-image: url(../img/suchi2.png);
    background-size: cover;
    background-position: center;

    position: relative;
}

.foto1-1hover {

    display: none;

    background-color: rgba(36, 141, 114, 0.4);
    height: 650px;






}

.foto1-1hover h1 {

    color: white;
    font-size: 44px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding-top: 280px;
    animation-duration: 0.5s;


}

.foto1-1:hover .foto1hover {

    display: block;

}



.seccion1 a {

    text-decoration: none;
}

.foto2-2 {

    height: 650px;
    background-image: url(../img/apaneca2.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}

.foto2-2hover {

    display: none;

    background-color: rgba(107, 133, 190, 0.4);
    height: 650px;




}

.foto2-2hover h1 {

    color: white;
    font-size: 44px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding-top: 280px;
    animation-duration: 0.5s;
}


.foto2-2:hover .foto2hover {

    display: block;
}


.foto3-3 {

    height: 650px;
    background-image: url(../img/centro.png);
    background-size: cover;
    background-position: right;
    position: relative;
}

.foto3-3hover {

    display: none;

    background-color: rgba(241, 157, 52, 0.4);
    height: 650px;





}

.foto3-3hover h1 {

    color: white;
    font-size: 44px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding-top: 280px;
    animation-duration: 0.5s;
}


.foto3-3:hover .foto3hover {

    display: block;
}

.foto4 {

    height: 650px;
    background-image: url(../img/sanata\ ana.jpeg);
    background-size: cover;
    background-position: center;
    position: relative;
}

.foto4hover {

    display: none;

    background-color: rgba(200, 241, 52, 0.2);
    height: 650px;





}

.foto4hover h1 {

    color: white;
    font-size: 44px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding-top: 280px;
    animation-duration: 0.5s;
}


.foto4:hover .foto4hover {

    display: block;
}

